.root{
    -fx-background-image: url("/fxml/background.jpg");
}


.button {
    -fx-background-color: black;
    -fx-background-radius: 20;
}

.chart{
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}